@inject NavigationManager NavigationManager

@using BlazorAdminApp.Shared
@using Microsoft.AspNetCore.Components.Routing
@using BlazorAdminApp.Helpers

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
    </Found>
    <NotFound>
      @*   <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView> *@
        @{
            // redirect to home page if not found
            NavigationManager.NavigateTo("");
        }
    </NotFound>
</Router>
